@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Square 스타일 추가 */
.square {
  width: 700px;
  height: 700px;
  background-color: whitesmoke; /* 배경색 추가 */
  border-radius: 40px;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto Slab', serif;
}


a {
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  color: #1f1818;
  font-weight: bold;
}

/* Navigation menu */
.menu {
  width: 150px; /* 버튼의 너비 설정 */
  height: 50px; /* 버튼의 높이 설정 */
  padding: 10px 20px; /* 내부 내용의 여백(상, 하, 좌, 우) 설정 */
  font-size: 18px; /* 버튼 내부의 글꼴 크기 설정 */
  background-color: #3498db; /* 배경 색상 설정 */
  color: #fff; /* 글자 색상 설정 */
  border: none; /* 테두리 제거 */
  border-radius: 5px; /* 둥근 테두리 설정 */
  cursor: pointer; /* 마우스 커서 모양 변경 (선택 사항) */
  z-index: 2;
}

/* Menu link item */
.menu__link {
  display: inline-block;
  text-decoration: none;
  border: 3px solid #263238;
  line-height: 40px;
  position: relative;
  padding: 0 50px;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
  border-radius: 50px;
  font-size: 23px; /* 폰트 크기 조정 */
  font-family: 'Roboto Slab', serif; /* 폰트 설정 */
  font-weight: bold; /* 폰트 굵기 설정 */
}



/* Panels Style */
/* Common panel style */
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  box-sizing: border-box;
}

/* panel content (only for animation delay after open) */
.panel__content {

  will-change: margin-top;
  transition: all 700ms;
  transition-delay: 600ms;
  padding: 0px 100px;
}

/* Panel content animation after open */
.panel:target .panel__content {
  opacity: 1;
  margin-top: 0;
}

.panel#fade {
  background-color: #ffffff; /* 배경화면 */
  opacity: 0;
  transition: all 800ms ease-in-out;
  pointer-events: none;
}

.panel#fade:target {
  opacity: 1;
  pointer-events: auto;
}

/* 게임 룰 텍스트 스타일 */
.game-rule {
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  font-weight: bold;
  color: #1f1818; /* 텍스트 색상 설정 */
  text-align: center; /* 가운데 정렬 */
  margin-top: 5px; /* 버튼과의 간격 조정 (선택 사항) */
}

.loading {
  width: 100vw;
  margin-top: -70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: gray;
  border-radius: 50%;
  animation: loading 1s linear infinite;
  background-color: black;
}

.loading span:nth-child(1) {
  animation-delay: 0s;
}

.loading span:nth-child(2) {
  animation-delay: 0.2s;
  margin: 0px 10px
}

.loading span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes loading {
  0%, 100% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
}
